#splash-page {
  display: grid;
	grid-template-columns: 2.5fr 1fr;
	margin-bottom: 3%;
}

.splash-page-msg {
	font-family: 'Caveat', cursive;
	font-size: 5vw;
	margin-bottom: 8%;
}

.splash-page-msg-spc {
	margin: 2% 0 0 8%;
}

.splash-page-profile {
	font-size: 1.4rem;
	text-align: right;
	margin-left: 50%;
}

.splash-page-title {
	font-weight: bold;
	margin-bottom: 3%;
}

.splash-page-edu {
	font-size: 1.2rem;
	font-style: italic;
}

.splash-page-skill {
	display: flex;
	flex-wrap: wrap;
	font-size: 1.2rem;
	color: rgb(147, 158, 167);
	margin-bottom: 10%;
}

.splash-page-tool {
	position: relative;
	display: flex;
}

.splash-page-tooltip {
	display: flex;
	column-gap: 1rem;
	align-items: center;
	justify-content: center;
}

.splash-page-cert {
	height: 100px;
	width: 100px;
	object-fit: cover;
}

.splash-page-tool .splash-page-tooltip {
	position: absolute;
	z-index: 100;
	bottom: -500%;
	left: 50%;
	padding: 5px 10px;
	border-radius: 5%;
	background-color: rgb(183, 183, 183);
	opacity: 0;
	transition: opacity 0.15s;
	pointer-events: none;
}

.splash-page-tool:hover .splash-page-tooltip {
	opacity: 1;
}

.splash-page-explore {
	display: flex;
	text-align: left;
}

.splash-page-nav {
	display: flex;
	column-gap: 15px;
	align-items: center;
  padding: 10px 50px;
	border-color: rgb(150, 159, 170);
  border-radius: 100%;
  border-style: solid;
	border-width: .5px;
	font-size: 1.1rem;
	font-style: italic;
	color: rgb(73, 84, 98);
	text-decoration: none;
}

.splash-page-arrow {
	height: 20px;
}

.splash-page-slogan {
	font-family: 'Caveat', cursive;
  font-size: 1.5rem;
  writing-mode: vertical-rl;
  text-orientation: mixed;
}
