<body>
  <div class="social-icons">
    <a href="https://www.linkedin.com/in/jack-cky/" target="_blank">
      <img class="icon-default" src="/static/img/social/linkedin-bk.svg">
      <img class="icon-hover" src="/static/img/social/linkedin-gd.svg">
    </a>
    <a href="https://github.com/Jack-cky" target="_blank">
      <img class="icon-default" src="/static/img/social/github-bk.svg">
      <img class="icon-hover" src="/static/img/social/github-gd.svg">
    </a>
    <a id="emailAddress" data="why do you wanna email me =.=">
      <img class="icon-default" src="/static/img/social/email-bk.svg">
      <img class="icon-hover" src="/static/img/social/email-gd.svg">
    </a>
  </div>
  <div class="footer-msg">
    <p><i>together, we parade ignorance into our lives</i></p>
    <p><span class="copyleft">&copy;</span> <span id="thisYear"></span> Jack Chan. No Rights Reserved.</p>
  </div>
</body>
