.project-cat {
  cursor: pointer;
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 20px 0;
}

.project-cat div {
  border-bottom: 2px solid transparent;
  padding: 5px;
  transition: border-color 0.3s;
}

.project-cat div:hover {
  border-color: var(--colour-grey);
}

.project-cat .active {
  border-color: var(--colour-gold);
  font-weight: bold;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  min-height: calc(100vh - 250px);
  padding-bottom: 6vh;
}

.projects .project {
  align-items: center;
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: center;
  padding: 15px;
  position: relative; /* Set position relative */
  text-align: center;
  width: 300px;
}

.projects .concept img {
  border-radius: 8px;
  height: 55%;
  object-fit: cover;
  width: 100%;
}

.projects .detail .highlight {
  font-size: 0.8rem;
  font-style: italic;
  text-align: left;
}

.projects .detail .title {
  margin: 10px 0 0;
}

.projects .project-info {
  align-items: center;
  bottom: 5px;
  display: flex;
  justify-content: space-between;
  left: 15px;
  position: absolute;
  right: 15px;
}

.projects .project-info .links {
  display: flex;
  gap: 15px;
}

.projects .project-info img {
  height: 25px;
}
