.welcome-msg {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: "Handjet", sans-serif;
  height: calc(100vh - 80px);
  justify-content: center;
}

.welcome-msg p {
  margin: 0;
}

.welcome-msg .greeting {
  font-size: 4rem;
}

.welcome-msg .intro {
  display: flex;
  flex-wrap: wrap;
  font-size: 5rem;
  justify-content: center;
  text-align: center;
}

.welcome-msg .typewriter {
  animation: cursor 0.8s infinite;
  display: inline-block;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.welcome-msg .hide-cursor {
  animation: none;
}

@keyframes cursor {
  0%, 100% {
    border-right: 2px solid var(--colour-black);
  }
  50% {
    border-right: transparent;
  }
}
